div.siteName {
    font-size: large;
    width: 250px;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.3);
    border-radius: 4px;
    border-bottom: 1px solid Gray;
}
ul.main {
    list-style: none;
}
input[type="text"] {
    width: 210px;
    height: 20px;
    font-size: 15px;
    margin: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid lightGray;
    border-bottom: 2px double Black;
    border-right: 2px solid Black;
}
input[type="button"] {
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: lightCyan;
    border: none;
    border-radius: 5px;
    border: 1px solid Gray;
}
